<div class="register">
    <div class="container col-md-9">
        <div class="logo col-md-4" style="font-size: 24px;">
            <i class="userIcon fas fa-user-tie fa-10x"></i>
        </div>
        <div class="vl"></div>

        <div class="registrationForm col-md-4">
            <span class="justify-content-center" style="font-size: 24px; color: rgb(241, 241, 248); font-weight: bold; height:20%; margin-left: 30px;">Member
                login</span>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-lock"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </div>
    </div>
</div>